/* stylesheet.css 1.0 May 2018 by Jordan Tam */
h1 {
  color: #000000;
  text-align: center;
  font: italics fantasy;
  font-size: 32px;
}

h2 {
  color: #595959;
  text-align: left;
  font: italic fantasy;
  font-size: 24px;
}

.container {
		text-align: center;
    margin-top: 80px;
		margin-left: 10%;
		margin-right: 10%;
    border: 1px solid gray;
		padding: 10px;
		background-color: #ccffff;
}

nav {
    width: 100px;
		text-align: center;
    margin: 0;
    padding: 1em;
		background-color: #CC99FF;
		font: 100% fantasy;
		display: block;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
	padding: 1%;
}
